@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>Please Enter Your Mail</h1>

<form asp-action="ResetPassword" class="row col-4">
    <fieldset>
      <div class="form-group">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Continue</button>
    </fieldset>
</form>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}