@model CreateMovieViewModel

@{
    ViewData["Title"] = "CreateActor";
}

<div class="page-header row justify-content-between">
              <h3 class="page-title"> Create A New Movie </h3>
            </div>

<div class="card">
<div class="auth-form-light text-left p-5">
                <h4>Movie</h4>
            <form asp-action="CreateMovie" enctype="multipart/form-data" class="pt-3">
                  <div asp-validation-summary="All" class="text-danger"></div>
                  <div class="form-group">
                     <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control form-control-lg" placeholder="Title">
                  </div>
                  <div class="form-group">
                     <label asp-for="ReleaseYear"></label>
                    <input asp-for="ReleaseYear" class="form-control form-control-lg"  placeholder="Release Year">
                  </div>
                  <div class="form-group">
                     <label asp-for="Duration"></label>
                    <input asp-for="Duration" class="form-control form-control-lg"  placeholder="Duration">
                  </div>
                  <div class="form-group">
                     <label asp-for="Language"></label>
                    <input asp-for="Language" class="form-control form-control-lg"  placeholder="Language">
                  </div>
                  <div class="form-group">
                     <label asp-for="Country"></label>
                    <input asp-for="Country" class="form-control form-control-lg"  placeholder="Country">
                  </div>
                  <div class="form-group">
                      <label asp-for="Video"></label>
                      <input asp-for="Video" class="form-control" />
                  </div>
                  <div class="form-group">
                      <label asp-for="Poster"></label>
                      <input asp-for="Poster" class="form-control" />
                  </div>
                  <div class="form-group">
                      <label asp-for="Generes"></label>
                       <select asp-for="Generes" asp-items="@Model.GeneresList" multiple data-mdb-filter="true" class="form-select">
                  </select>
                  </div>
                    <input type="submit" value="Add Movie" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">
                </form>    
              
            </div>
         </div>




